ENV=local
S3_BUCKET=./data_lake
S3_RAW=./data_lake/raw
S3_PROCESSED=./data_lake/processed
S3_REJECTED=./data_lake/rejected
S3_METRICS=./data_lake/metrics

PYTHON_PATH_311=C:\Users\{user name}\AppData\Local\Programs\Python\Python311\python.exe

# Warehouse Database
WAREHOUSE_DB=
WAREHOUSE_USER=
WAREHOUSE_PASSWORD=

# Airflow Metadata Database
AIRFLOW_DB=
AIRFLOW_USER=
AIRFLOW_PASSWORD=

# Airflow Admin User
AIRFLOW_ADMIN_USERNAME=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_ADMIN_EMAIL=

AIRFLOW_SECRET_KEY=