ENV=local
S3_BUCKET=./data_lake
S3_RAW=./data_lake/raw
S3_PROCESSED=./data_lake/processed
S3_REJECTED=./data_lake/rejected
S3_METRICS=./data_lake/metrics

PYTHON_PATH_311=C:\Users\{user name}\AppData\Local\Programs\Python\Python311\python.exe

# Warehouse Database
WAREHOUSE_DB=urbangear_dw
WAREHOUSE_USER=urbangear
WAREHOUSE_PASSWORD=urbangear123

# Airflow Metadata Database
AIRFLOW_DB=airflow
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow

# Airflow Admin User
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_ADMIN_EMAIL=michael.acheampong@amalitech.com

AIRFLOW_SECRET_KEY=my_super_secret_key_change_this_myk